<header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div>
                        <a href="https://www.achin.com" class="navbar-brand">Doass</a>
                </div>

                <ul class="navbar-nav">
                        <!-- <li><a href="/welcome/Achin" class="nav-link">Home</a></li>
                        -->
                        <li><a *ngIf="authService.isUserAuthenticated()" routerLink="/welcome/{{authService.getLoggedUser()}}" class="nav-link">Home</a></li>
                        <li><a *ngIf="authService.isUserAuthenticated()" routerLink="/todos" class="nav-link">Todos</a></li>
                </ul>

                <ul class="navbar-nav navbar-collapse justify-content-end">
                        <li><a *ngIf="!authService.isUserAuthenticated()" routerLink="/login" class="nav-link">Login</a></li>
                        <li><a *ngIf="authService.isUserAuthenticated()" routerLink="/logout" class="nav-link">Logout</a></li>
                </ul>
        </nav>
</header>
